{% extends "base.html" %}

{% block content %}
<section style="max-width:750px; margin:1rem auto; text-align:center;">

    <h1 style="font-size:3rem; margin-bottom:1rem;">Gurjot Singh</h1>

    <img src="profile_pic.jpg" alt="Profile"
        style="width:300px; border-radius:8px; margin-bottom:1rem; border: #3f52b5 10px solid;">

    <p style="font-size:1.1rem; margin-bottom:1rem;">
        PhD Candidate | Humboldt-Universität zu Berlin
        <br>
        Computational Chemistry
    </p>

    <a class="md-button md-button--primary" href="cv/cv">CV</a>

    <p style="font-size:1rem; line-height:1.7; margin-bottom:1rem;">
        My current work focuses on studying <br> Transition Metal Complexes using Multireference Methods.
    </p>

    <a class="md-button md-button--primary" href="research_interests/research_interests">Research</a>
    <a class="md-button" href="publications/publications">Publications</a>
    </section>
{% endblock %}
