/* Text align */
/* p {
    text-align: justify;
    text-justify: inter-word;
}

*/
/* Custom styles for tables */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px;
    text-align: left;
    padding: 1px;
}
/* Light theme color */
:root {
    --md-primary-fg-color: #2A4D8F;
}

/* Link color */
/* :root>* {
    --md-typeset-a-color: #3f52b5;
}

*/

/* ------- LIGHT THEME LINK COLORS ------- */
[data-md-color-scheme="default"] {
    --md-typeset-a-color: #0055cc;
    /* normal link color */
}

/* ------- DARK THEME LINK COLORS ------- */
[data-md-color-scheme="slate"] {
    --md-typeset-a-color: #7ab8ff;
    /* normal link color */
}